@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg: #181818;
  --focus: #1f1f1f;
  /*--focus: #393939;*/
  --border-color: #2b2b2b;

  --panel: #1e1e1e;
  --active: #0078d4;
  --active-rgb: 0, 120, 212;
  --muted: #9aa0a6;
  --fg: #ffffff;
  --ENTITY_NONE: #333333;
  --ENTITY_SNAKE: #4caf50;
  --ENTITY_FOOD: #ff5252;
  --ENTITY_PLATFORM: #9e9e9e;
  --ENTITY_ROCK: #795548;
  --ENTITY_SPIKE: #ffc107;
  --ENTITY_EXIT: #00bcd4;
  --p: 4px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bg);
  color: var(--fg);
  text-align: left;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 28px;
  display: flex;
  align-content: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.spacer {
  width: 10px;
  line-height: 28px;
  visibility: hidden;
  margin: 0 auto;
}

.dropdown summary {
  list-style: none;
  padding: 3px 10px;
  cursor: pointer;
  user-select: none;
}

.dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  padding: 0;
  margin: 0;
  border: 1px solid var(--border-color);
  z-index: 99;
}

.dropdown-content li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-content.hover li:hover {
  background: var(--focus);
}

.main {
  background-color: var(--focus);
  width: 100%;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
}

.toolbar-horizontal {
  background-color: var(--bg);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: 120px;
  padding: 10px;
  gap: 10px;
}

.panel {
  background-color: var(--bg);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
}
.panel.show {
  display: flex !important;
}
.tab-panel > .panel {
  display: none;
}
.panel-grid {
  width: 100%;
  height: 100%;
  /*padding: 10px;*/
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.tabs,
.tab-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tab-panel {
  height: 100%;
}

.tab {
  border: 1px solid var(--focus);
  background-color: var(--bg);
  border-left: 0;
  padding: 5px 10px;
}

.tab.active {
  border-top: 2px solid var(--active);
  background-color: var(--focus);
}

.btn {
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--focus);
  padding: 5px 10px;
}

.hidden {
  display: none;
}

.CodeMirror {
  width: 100%;
  height: 100%;
  /*margin: -10px;*/
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.grid {
  --w: attr(data-grid-w number, 0);
  --pixel: attr(data-grid-pixel px, 16px);
  display: grid;
  grid-template-columns: repeat(var(--w), var(--pixel));
  /*grid-template-columns: repeat(8, 16px);*/
  gap: 1px;
  width: fit-content;
}

.cell {
  border: 1px solid var(--border-color);
  width: calc(var(--pixel));
  height: calc(var(--pixel));
  cursor: pointer;
}
#sprite {
  padding: 5px;
}
#spriteEditor .cell {
  /*background-color: attr(data-color, "#000");*/
  border: 1px solid var(--border-color);
}
#spriteList.grid {
  grid-template-columns: repeat(var(--w), calc(var(--pixel) * 3));
  gap: 1px;
  column-gap:2px;
}
#spriteList .cell {
  width: calc(var(--pixel) * 3);
  height: calc(var(--pixel) * 3);
}
#spriteList .cell:hover {
  border: 1px solid var(--active);
}
.border {
  border: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.p-1 {
  padding: var(--p);
}
.p-2 {
  padding: calc(var(--p) * 2);
}
.p-3 {
  padding: calc(var(--p) * 3);
}
.p-4 {
  padding: calc(var(--p) * 4);
}
.p-5 {
  padding: calc(var(--p) * 5);
}
.mt-1 {
  margin-top: var(--p);
}
.mt-2 {
  margin-top: calc(var(--p) * 2);
}

.ms-1 {
  margin-left: var(--p);
}
.ms-2 {
  margin-left: calc(var(--p) * 2);
}

.me-1 {
  margin-right: var(--p);
}
.me-2 {
  margin-right: calc(var(--p) * 2);
}
